{% extends "issue/index.html" %}

{% block issu %}
	<table><tr>
	{% if edit == 1 %}
	<td> Заявка: </td><td><input type=text value='{{ iss.id + 1 }}'</td>
	<td> Заказчик: </td>
	<td>
		<select>
		{% for opt in all_opt %}
			<option value={{opt.id}} >{{ opt.name }}</option>
		{% endfor %}
		</select>
	</td>
	{% else %}
	<td><a href=# >Заявка №: {{ iss.issue_nom }}</a></td>
	{% endif %}
	</tr></table>
{% endblock %}
