{% load static from staticfiles %}
{% load i18n %}
Шаблон всех <i>заказчиков</i> (пробка)<br>

{% for cust in all_cust %}

	{% block custom %}
	<a href=# ><b> Заказчик: {{ cust.name }}</b></a><br/>
	{% endblock %}
{% endfor %}
