//div {border: solid 1px black;}

.logo {
display: inline;
width: 22%;
float: left;
}

.title {
border: solid 1px red;
//text-align: center;
text-color: lightgreen;
background-color: yellow;
width: 65%;
height: 160px;
float: left;
display: inline;
//color: green;
}

.authorize {
//position: absolute;
//margin-top: -55px;
//text-align: right;
//text-color: red;
background-color: gray;
width:80%;
//float: right;
display: block;
}

.auth_form {
//margin-top: 15px;
//text-align: right;
text-color: red;
background-color: green;
width:35%;
float: right;
display: none;
//visibility: hidden;
}

.search {
clear: both;
//display: block;
float: right;
width: 60%;
text-align: right;
background-color: yellow;
}

.lm {
border: solid 1px red;
background-color: lightgray;
width: 20%;
float: left;
display: inline;
}

.front {
background-color: brown;
text-size: 7pt;
float: left;
}

.back {
display: block;
width: 100%;
clear: both;
}

.galery {
clear: both;
width: 100%;
}
