//body {text-align: center;}

.header {width: 90%; height: 80px;}

//.hide {display: None;}

.front {
	margin: 0 16% 0 8%;
	//padding: 0 auto;
	width: 84%;
	//text-align: center;
	background-color: lightblue;
}

.assort_menu {
	width: 24%;
	background-color: lightgray;
	float: left;
	color: darkgreen;
	//position: relative;
}

.assort_menu li {
	//marker-style
}

.vitrina {
	width: 62%;
	float: left;
	//position: relative;
}

.news {
	display: block;
	background-color: lightyellow;
	width: 16%;	
	float: left;
	right: 5px;
	position: absolute;
}

.auth {
	//display: none;
	position: absolute;
	top: 5px;
	right: 5px;
}

.pay {
	position: absolute;
	top: 100px;
	left: 30%;
	display: none;
}

