﻿<!DOCTYPE html>
<html>
<head><title>API сайта</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/ecpd.css" >
<script>
</script>
</head>
<body>
<div>
{% block header %}
<div class=logo><img src='' /></div>
{% endblock %}

<i>Список доступных фунций API сайта:</i><br/>
{% block api %}{% endblock %}

</div>
</body>
</html>
