﻿{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head><title>Единая Служба Технического Заказчика</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/static/css/ecpd.css" >
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js'></script>
</head>
<body>

{% block header %}
<!--div display=inline float=left -->

 <div class=logo ><img id=logo src='{% static "180672.jpg" %}' /></div>

 <div class=title ><!--display=inline align=left float=left-->
  Единая Служба<br>
  Технического Заказчика (ЕСТЗ)<br>
  (Портал в разработке)
 </div>

 <div class=search >
 	{% block search %}
 	 	<input type=text name=srch_qry >
	 	<input type=button value=Поиск >
 		<input type=button value="Обращение к администратору" >
 	{% endblock %}
 </div>

{% endblock %}

 <!--div class=authorize >
 		<input type=button value=Войти onclick='javascript: document.location.href="/reg"; ' ><$(".auth_form").show();' -->
 		<div class=auth_form >
 	{% block authfrm %}
 			 include "ecpd/login.html" %}
 	{% endblock %}
 		</div>

<div><table width=80%><tr>
{% for mp in items %}
	{% if forloop.counter < 6 %}
		<td align=center><a href={{ mp.url}} >{{ mp.title }}</a></td>
	{% endif %}
{% endfor %}
</tr></table></div>

<div class=back ><a href=# >Вернуться назад на страницу</a></div><br>

<div class=lm>
{% block lm %}
<ul>
{% for mp in items %}
	<li><a href={{ mp.url}} >{{ mp.title }}</a></li>
{% endfor %}

<!--li>Главная/Новости</li>
<li>Информация о портале</li>
<li>Регистрация пользователей</li>
<li>Регистрация на портале исполнителей/подрядчиков</li>
    <ul>Сервисы
<li>Консультации (Контакт-центр)</li>
<li>Прием заявок адмиистратором портала на оказание услуг технического заказчика</li>
    </ul>
    <ul>Контакты
<li>Прием письменных обращений</li>
<li>Вход в личный кабинет для исполнителей/подрядчиков</li>
    </ul-->
</ul>
{% endblock %}
{% block banners %}
	{% include "ecpd/banners.html" %}
{% endblock %}
</div>

<div style='width: 60%; display: inline; text-align: center; float: left; background-color: lightgray;' class=front>
{% block front %}
Информация о сайте. <br/>(Сайт в разработке.)<br>
<img src='{% static "180672.jpg" %}' />
{% endblock %}
</div>

<div class=galery>
{% block galery %}
	{% include "ecpd/galery.html" %}
{% endblock %}
</div>

</body>
</html>
