﻿<!DOCTYPE html>
<html>
<head><title>Предложение выполнения заказа</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/ecpd.css" >
<script>
</script>
</head>
<body>
<div>
{% block header %}
<div class=logo><img src=''></div>
{% endblock %}

<form id=new_issue>
    <div class=title>
    Новый заказ:<br>
    клиент: <input name=cust value='Иванов'><br>
    заказ: <input name=issue value='базы'><br>
    подрядчик: <input name=perf value='Петров'><br>
    <table>
    	<tr><td><input type=submit value=Согласиться></td><td><input type=submit value=Отказаться><td></tr>
    </table>
    </div>
</form>
</div>
</body>
</html>
