﻿<!DOCTYPE html>
<html>
<head><title>Загрузка данных</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/ecpd.css" >
<script src='https://ajax.googleapis.com/ajax/jquery/3.1.1/jquery-3.1.1.js'></script>
</head>
<div>
<h2>Текущее состояние:</h2><p>
{% for rec in data %}
	{{ rec.path }}<br>
{% endfor %}</p>
</div>
<body>
<div>
<form id=loadform>
	<input type=text value='' />
	<input id=ld type=submit value=Загрузить />
</form>
</div>
</body>
</html>
