﻿{% load static %}
{% block authfrm %}
<div id=login_steps >
    <div id=auth_data align=center display=none >
    	<table><tr>
    	<td><input type=button value=Вход ></td>
    	<td><input type=button value=Регистрация ></td>
    	</table>
	<!--form id=sendform>
	От: <input type=text name=cust value='Иван' /><br>
	Комментарий <input name=comment type=textarea value='' /><br>
	<input type=submit value='Отправить' />
	</form-->
    </data>

    <div id=pers_data align=center >
    	<table width=30% align=center >
    	<tr><td>Фамилия:</td><td><input type=text value='' ></td></tr>
    	<tr><td>Имя:</td><td><input id=name type=text value='' ></td></tr>
    	<tr><td>Логин:</td><td><input id=login type=text value='' ></td></tr>
    	<tr><td>Пароль:</td><td><input id=pass type=text value='' ></td></tr>
    	<tr><td>Пароль (повторно):</td><td><input id=re_pass type=text value='' ></td></tr>
    	<tr><td>Login:</td><td><input id=login type=text value='' ></td></tr>
    	<tr><td>Email:</td><td><input id=email type=text value='' ></td></tr>
    	<tr><td>Телефон:</td><td><input id=phone type=text value='' ></td></tr>
    	</table><br>
    	<table width=30% align=center >
	    	<tr><td><input id=ok type=submit value=Войти ></td><td><input id=cancel type=submit value=Отмена ></td></tr>
    	</table>

	<!--form id=sendform>
		От: <input type=text name=cust value='Иван' /><br>
		Комментарий <input name=comment type=textarea value='' /><br>
		<input type=submit value='Отправить' />
	</form-->
    </div>
</div>
{% endblock %}
