﻿<!DOCTYPE html>
<html>
<head><title>Форма</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/ecpd.css" >
<script>
</script>
</head>
<div>
<body>
<div>
<form id=sendform>{% crsf_token %}
	От: <input type=text name=cust value='Иван' /><br>
	Комментарий <input name=comment type=textarea value='' /><br>
	<input type=submit value='Отправить' />
</form>
</div>
</body>
</html>
